<template>
  <div class="dashboard mx-4 mt-3">
    <Navbar/>
    <h1 class="subheading grey--text">Home</h1>
    <v-container class="my-5">
      <ul class="nav">
        <router-link to="/card/0">Add card</router-link>
      </ul>
      <vuetify-confirm/>

      <v-layout row wrap>
        <v-flex xs12 sm6 md4 lg3 v-for="card in cards" :key="card.id">
          <v-card flat class="text-xs-center ma-3">
            <v-responsive class="pt-4">
              <img :src="card.imageUrl" height="150" v-if="card.imageUrl">
            </v-responsive>
            <v-card-text>
              <div class="subheading">{{ card.name }}</div>
              <div class="grey--text">{{ card.role }}</div>
            </v-card-text>
            <v-card-actions>
              <router-link :to="'/card/' + card.id">View</router-link>

              <v-btn flat icon color="primary" @click="deleteItem(card)">
                <v-icon small>delete</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import VuetifyConfirm from "vuetify-confirm";
import Vue from "vue";

Vue.use(VuetifyConfirm, {
  buttonTrueText: "Yes",
  buttonFalseText: "Cancel",
  color: "warning",
  icon: "warning",
  title: "Warning",
  width: 350,
  property: "$confirm"
});

import Navbar from "@/components/Navbar";
import fire from "@/main";

export default {
  components: { Navbar, VuetifyConfirm },
  created() {
    fire.db.collection("cards").onSnapshot(res => {
      const changes = res.docChanges();
      changes.forEach(change => {
        console.log(change);
        if (change.type === "added") {
          this.cards.push({
            ...change.doc.data(),
            id: change.doc.id
          });
        } else if (change.type === "removed") {
          console.log("removing ");
          console.log(change.doc.id);
          for (var i = 0; i < this.cards.length; i++) {
            if (this.cards[i].id === change.doc.id) {
              this.cards.splice(i, 1);
            }
          }
        }
      });
    });
  },
  methods: {
    deleteItem(item) {
      console.log("delete " + item.id);
      this.$confirm(
        "Do you really want to delete <b>" + item.name + "</b>?"
      ).then(res => {
        if (res) {
          var cardRef = fire.db.collection("cards").doc(item.id);
          cardRef.delete();
          console.log("deleting card from database");
          for (var i = 0; i < this.cards.length; i++) {
            if (this.cards[i].id === item.id) {
              this.cards.splice(i, 1);
            }
          }
        }
      });
    }
  },
  data() {
    return {
      cards: [],
      team: [
        { name: "The Net Ninja", role: "Web developer" },
        { name: "Ryu", role: "Graphic designer" },
        { name: "Chun Li", role: "Web developer" },
        { name: "Gouken", role: "Social media maverick" },
        { name: "Yoshi", role: "Sales guru" }
      ]
    };
  }
};
</script>