<template>
  <div class="dashboard mx-4 mt-3">
    <Navbar/>
    <h1 class="subheading grey--text">Test...</h1>

    <v-container grid-list-md text-xs-center>
      <v-layout row class="green" justify-center align-center>
        <v-card class="text-xs-center" width="500" flat>
          <v-card-text>
            <v-form v-model="formValid" class="yellow">
              <v-jsonschema-form
                v-if="schema"
                :schema="schema"
                :model="dataObject"
                :options="options"
                @error="showError"
                @change="showChange"
                @input="showInput"
              />
            </v-form>
          </v-card-text>
        </v-card>
      </v-layout>
      <v-layout row class="red" wrap justify-center>
        <v-flex xs6>
          <v-btn @click="clickButton">Click me</v-btn>
          <v-btn>Me too</v-btn>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container grid-list-md text-xs-center>
      <v-layout row class="red" wrap justify-space-around>
        <v-flex xs12>
          <v-card color="primary">
            <v-card-text class="px-0">12</v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs6>
          <v-card color="yellow">
            <v-card-text class="px-0">6</v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card color="secondary">
            <v-card-text class="px-0">4</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row class="red" wrap justify-center>
        <v-flex xs6>
          <v-card color="yellow">
            <v-card-text class="px-0">6</v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card color="secondary">
            <v-card-text class="px-0">4</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-layout row class="resultContainer yellow" justify-center align-center>
      <v-card class="text-xs-center" width="500" min-height="100" flat>
        <v-card-text>Simple way to justify a form</v-card-text>
      </v-card>
    </v-layout>

    <v-layout class="resultContainer red" justify-center align-center>
      <div class="item elevation-5">kkk</div>
      <div class="item elevation-5"></div>
      <div class="item elevation-5"></div>
    </v-layout>

    <v-container fluid class="yellow">
      <v-layout column class="red">
        <v-flex xs6 class="green">
          <div class="resultContainer">
            <v-layout align-center justify-center>
              <div class="item elevation-5">kkk</div>
              <div class="item elevation-5"></div>
              <div class="item elevation-5"></div>
            </v-layout>
          </div>
        </v-flex>
        <v-flex xs12>
          <div class="resultContainer">
            <v-layout align-center justify-center row>
              <div class="item elevation-5">kkk</div>
              <div class="item elevation-5"></div>
              <div class="item elevation-5"></div>
            </v-layout>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container ma-1>
      <v-layout wrap align-center justify-center class="red">
        <v-flex xs6>
          <v-card class="text-md-center">
            <v-card-text>
              <v-form v-model="formValid">
                <v-jsonschema-form
                  v-if="schema"
                  :schema="schema"
                  :model="dataObject"
                  :options="options"
                  @error="showError"
                  @change="showChange"
                  @input="showInput"
                />
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Vue from "vue";
import Vuetify from "vuetify";
import "vuetify/dist/vuetify.min.css";
import Draggable from "vuedraggable";
import axios from "axios";
import VueAxios from "vue-axios";
import Swatches from "vue-swatches";
import "vue-swatches/dist/vue-swatches.min.css";
import VJsonschemaForm from "@koumoul/vuetify-jsonschema-form";
import "@koumoul/vuetify-jsonschema-form/dist/main.css";
import { Sketch } from "vue-color";

Vue.use(Vuetify);
Vue.use(VueAxios, axios);

Vue.component("swatches", Swatches);
Vue.component("draggable", Draggable);
Vue.component("color-picker", Sketch);

import Navbar from "@/components/Navbar";

export default {
  components: { VJsonschemaForm, Navbar },
  data() {
    return {
      schema: {
        $id: "https://example.com/person.schema.json",
        $schema: "http://json-schema.org/draft-07/schema#",
        title: "Person",
        description: "A few metadata about some person.",
        type: "object",
        required: ["firstName", "lastName"],
        properties: {
          type: {
            type: "string",
            const: "person"
          },
          firstName: {
            type: "string",
            description:
              "\nThe person's first name.\n\nThis description can be a long text with markdown content.\n\n  - a list item\n  - another one\n  "
          },
          lastName: {
            type: "string",
            description: "The person's last name."
          },
          password: {
            type: "string",
            "x-display": "password"
          },
          age: {
            description:
              "Age in years which must be equal to or greater than zero.",
            type: "integer",
            minimum: 0,
            maximum: 150
          },
          internalKey: {
            description:
              "A property managed only internally by programs and hidden from user",
            type: "string",
            "x-display": "hidden"
          },
          citizen: {
            description: "Is this person a citizen of this country.",
            type: "boolean"
          },
          descr: {
            description: "A longer text for the description.",
            type: "string",
            maxLength: 2000
          },
          homepage: {
            description:
              "A long string also, but display is forced on single line",
            type: "string",
            maxLength: 2000,
            "x-display": "single-line"
          }
        }
      },
      dataObject: {
        firstName: "John",
        lastName: "Doe",
        age: 21,
        type: "person",
        password: null,
        internalKey: null,
        citizen: null,
        description: null,
        homepage: null
      },
      formValid: false,
      options: {
        debug: false,
        disableAll: false,
        autoFoldObjects: true
      }
    };
  },
  methods: {
    clickButton() {
      console.log(this.dataObject);
    },
    showError(err) {
      window.alert(err);
    },
    showChange(e) {
      console.log('"change" event', e);
    },
    showInput(e) {
      console.log('"input" event', e);
    }
  }
};
</script>

<style scoped>
.resultContainer {
  height: 200px;
}

.item {
  min-height: 50px;
  min-width: 80px;
  margin: 10px;
}
</style>
