<template>
  <div class="dashboard mx-4 mt-3">
    <Navbar/>
    <h1 class="subheading grey--text">Image upload</h1>

    <v-layout row justify-center align-center>
      <v-card class="text-xs-center" width="600" min-height="100" flat>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <img :src="imageUrl" height="150" v-if="imageUrl">
            <v-text-field
              label="Select Image"
              @click="pickFile"
              v-model="imageName"
              prepend-icon="attach_file"
            ></v-text-field>
            <input
              type="file"
              style="display: none"
              ref="image"
              accept="image/*"
              @change="onFilePicked"
            >

            <v-btn color="primary" @click="upload">Upload Image</v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </v-layout>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";

import fire from "@/main";
//const db = fire.db;
//const filestore = fire[1];
console.log("imported");

export default {
  components: { Navbar },
  created() {
    console.log(fire);
    this.db = fire.db;
    this.storage = fire.storage;
  },
  data() {
    return {
      photo: null,
      photo_url: null,
      dialog: false,
      imageName: "",
      imageUrl: "",
      imageFile: "",
      //image_src: require("imageUrl"),
      imgUrls: [],
      db: null,
      storage: null
    };
  },
  methods: {
    pickFile() {
      this.$refs.image.click();
    },

    onFilePicked(e) {
      const files = e.target.files;
      if (files[0] !== undefined) {
        this.imageName = files[0].name;
        if (this.imageName.lastIndexOf(".") <= 0) {
          return;
        }
        const fr = new FileReader();
        fr.readAsDataURL(files[0]);
        fr.addEventListener("load", () => {
          this.imageUrl = fr.result;
          //console.log("imageUrl");
          this.imageFile = files[0]; // this is an image file that can be sent to server...
          //this.getImages();
        });
      } else {
        this.imageName = "";
        this.imageFile = "";
        this.imageUrl = "";
      }
    },
    //    createFileUpload({ commit, getters }, payload) {
    upload: function() {
      console.log("Upload started");
      const fileUpload = {
        fileName: this.imageName,
        fullUrl: ""
      };
      let key;
      let database = this.db;

      this.db
        .collection("fileUploads")
        .add(fileUpload)
        .then(data => {
          key = data.id;
          console.log("file uploaded:" + key);
          return key;
        })
        .then(key => {
          // Now we need to store the file
          const filename = this.imageName;
          const ext = filename.slice(filename.lastIndexOf("."));
          return this.storage
            .ref("fileUploads/" + key + "." + ext)
            .put(this.imageFile);
        })
        .then(fileData => {
          var fullPath = fileData.metadata.fullPath;
          console.log(fullPath);
          var pathReference = this.storage.ref(fullPath);
          return pathReference.getDownloadURL();
        })
        .then(function(url) {
          // `url` is the download URL for 'images/stars.jpg'
          console.log("Full url = " + url);
          console.log("Key is " + key);
          // We just need to update the image in the database entry
          
          return database
            .collection("fileUploads")
            .doc(key)
            .update({fullUrl:url});
        })
        .then(() => {
          console.log("Success");
        })
        .catch(function(error) {
          // Handle any errors
          console.log(error);
        });

    }
  }
};
</script>
