<template>
  <v-card>
    <v-card-title class>
      <span>Add item</span>
      <VuetifyConfirm/>
      <PopupFormValidation
        title="Test"
        :data_collection="data_collection"
        btn_action="add"
        :schema="schema"
        :dataObject="dummyData"
      />
      <!--         :dataObject="{dummyData}"  -->

      <v-spacer class></v-spacer>
      <!-- <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field> -->
    </v-card-title>
    <v-data-table
      hide-actions
      v-model="selected"
      :headers="tableHeaders"
      :items="items"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <tr>
          <td v-for="project in dataColumns.slice(1)" :key="project">{{props.item[project]}}</td>
          <td class="text-xs-right">
            <PopupFormValidation
              title="Test"
              btn_action="edit"
              :schema="schema"
              :dataObject="props.item"
              :data_collection="data_collection"
            />
            <v-btn flat icon color="red" @click="deleteItem(props.item)">
              <v-icon>delete</v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
      <v-alert
        slot="no-results"
        :value="true"
        color="error"
        icon="warning"
      >Your search for "{{ search }}" found no results.</v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
import VuetifyConfirm from "vuetify-confirm";
import Vue from "vue";

import fire from "@/main";
import PopupFormValidation from "@/components/PopupFormValidation";
Vue.use(VuetifyConfirm, {
  buttonTrueText: "Yes",
  buttonFalseText: "Cancel",
  color: "warning",
  icon: "warning",
  title: "Warning",
  width: 350,
  property: "$confirm"
});

export default {
  props: ["schema", "headers", "data_collection"],

  components: { PopupFormValidation, VuetifyConfirm },

  created() {
    // Setup the table header

    Object.keys(this.schema.properties).forEach(item => {
      if (item != "id") {
        var header = this.schema.properties[item].table_header;
        console.log(header);
        this.tableHeaders.push(header);
      }
      //this.dataColumns.push(item);
    });
    this.tableHeaders.push({ text: "Action", value: "", sortable: false });

    Object.keys(this.schema.properties).forEach(item => {
      //console.log(item);
      this.dataColumns.push(item);
    });
    fire.db.collection(this.data_collection).onSnapshot(res => {
      const changes = res.docChanges();
      changes.forEach(change => {
        if (change.type === "added") {
          this.items.push({
            ...change.doc.data(),
            id: change.doc.id
          });
        }
      });
    });
  },
  methods: {
    showAlert(msg) {
      window.alert(msg);
    },
    deleteItem(item) {
      console.log("delete " + item);
      this.$confirm(
        "Do you really want to delete <b>" + item.name + "</b>?"
      ).then(res => {
        if (res) {
          var cardRef = fire.db.collection(this.data_collection).doc(item.id);
          cardRef.delete();
          const index = this.items.indexOf(item);
          this.items.splice(index, 1);
        }
      });
    }
  },
  data() {
    return {
      tableHeaders: [],
      dataColumns: [],
      dummyData: {
        name: ""
      },
      selected: [],
      search: "",

      items: []
    };
  }
};
</script>